<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Segment</ion-title>
  </ion-toolbar>

  <ion-segment value="todos" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dc">
      <ion-label>DC comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="marvel">
      <ion-label>Marvel comics</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>


  <ion-list>
      <ion-item *ngFor="let heroe of (superHeroes | async)| filtro: publisher: 'publisher' ">
        <ion-label>
          <h3>{{heroe.superhero}}  <small>{{heroe.alter_ego}}</small></h3>
          <p>
            {{heroe.first_appearance}}
          </p>
        </ion-label>

        <ion-label  class="ion-text-right" slot="end" >{{heroe.publisher}}</ion-label>
      </ion-item>
  </ion-list>

</ion-content>
